<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bug Tracker - Edit Ticket</title>

    <!-- Custom fonts for this template-->
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" href="../static/vendor/fontawesome-free/css/all.min.css"
          rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{/css/sb-admin-2.min.css}" href="../static/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul th:replace="fragments/footer :: sidebar">

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav th:replace="fragments/footer :: topbar"
                 class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Edit Ticket</h1>
                </div>

                <!-- Content Row -->

                <div class="row">

                    <!-- Area Chart -->
                    <div class="col-xl-7 col-lg-7">

                        <form action="#" th:action="@{/ticket-save-edit}" class="user" method="post">
                            <input type="hidden" th:value="${ticket.getId()}" th:name="ticket">
                            <div class="card shadow mb-4">
                                <div class="card-header py-2 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Tickets's details</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="row">
                                        <div class="card-body col-xl-12 col-lg-7">
                                            <span class="mb-1 small">Title:</span>
                                            <div>
                                                <span th:text="${ticket.getTitle()}" class="mb-1">Title</span>
                                            </div>
                                            <span class="mb-1 small">Description:</span>
                                            <div>
                                                <span th:text="${ticket.getDescription()}" class="mb-1">Description</span>
                                            </div>

                                        </div>

                                        <div class="card-body col-xl-6">
                                            <span class="mb-1 small">Project:</span>
                                            <div>
                                                <span th:text="${ticket.getProject().getName()}" class="mb-1">Project</span>
                                            </div>

                                        </div>
                                        <div class="card-body col-xl-6">
                                            <span class="mb-1 small">Submitter:</span>
                                            <div>
                                                <span th:text="${ticket.getSubmitter().getFirstName()} + ' ' + ${ticket.getSubmitter().getLastName()}" class="mb-1">Submitter</span>
                                            </div>

                                        </div>
                                        <input sec:authorize="hasAuthority('Developer')" th:value="${ticket.getDeveloper().getId()}" type="hidden" name="user">
                                        <div sec:authorize="hasAnyAuthority('Admin', 'Project Manager')" class="card-body col-xl-6">
                                            <span class="mb-1 small">Assigned Developer:</span>
                                            <select class="custom-select" name="user" size="1"
                                                    required>
                                                <option th:value="0"></option>
                                                <option th:each="dropDownItem : *{users}"
                                                        th:value="${dropDownItem.getId()}"
                                                        th:text="${dropDownItem.getFirstName()} + ' ' + ${dropDownItem.getLastName()}"
                                                        th:selected="${ticket.getDeveloper()!=null ? ticket.getDeveloper().getId() == dropDownItem.getId() : ''}"
                                                        th:class="userItem"/>
                                            </select>
                                        </div>
                                        <div class="card-body col-xl-6">
                                            <span class="mb-1 small">Ticket Priority:</span>
                                            <select class="custom-select" name="priority" size="1"
                                                    required>
                                                <option th:each="dropDownItem : ${priorities}"
                                                        th:value="${dropDownItem.getId()}"
                                                        th:selected="${ticket.getTicketPriority() == dropDownItem}"
                                                        th:text="${dropDownItem.getName()}"/>
                                            </select>
                                        </div>
                                        <div class="card-body col-xl-6">
                                            <span class="mb-1 small">Ticket Status:</span>
                                            <select class="custom-select" name="status" size="1"
                                                    required>
                                                <option th:each="dropDownItem : ${statuses}"
                                                        th:value="${dropDownItem.getId()}"
                                                        th:selected="${ticket.getTicketStatus() == dropDownItem}"
                                                        th:text="${dropDownItem.getName()}"/>
                                            </select>
                                        </div>
                                        <div class="card-body col-xl-6 col-lg-7">
                                            <span class="mb-1 small">Ticket Type:</span>
                                            <select class="custom-select" name="type" size="1"
                                                    required>
                                                <option th:each="dropDownItem : ${types}"
                                                        th:value="${dropDownItem.getId()}"
                                                        th:selected="${ticket.getTicketType() == dropDownItem}"
                                                        th:text="${dropDownItem.getName()}"/>
                                            </select>
                                        </div>
                                    </div>
                                    <input type="submit" value="Submit"
                                           class="btn mt-3 ml-2 col-xl-5 btn-primary  btn-block ">
                                </div>
                            </div>
                        </form>
                    </div>

                </div>


            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer th:replace="fragments/footer :: footer"></footer>

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a th:replace="fragments/footer :: scroll-to-top" href="#page-top">
</a>

<!-- Bootstrap core JavaScript-->
<div th:replace="fragments/footer :: logout-modal"></div>

<script th:src="@{/vendor/jquery/jquery.min.js}" src="../static/vendor/jquery/jquery.min.js"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"
        src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"
        src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}" src="../static/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script th:src="@{/vendor/chart.js/Chart.min.js}" src="../static/vendor/chart.js/Chart.min.js"></script>


</body>

</html>
